
#top {
    position: relative;
    background-color: #80abc1;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    align-content: center;
    font-family: verdana;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #80abc1;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #80abc1;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
    
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
    border-radius: 10px;
    width: auto;
    height: 400px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
    border-radius: 10px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#dvHome {
    width: 100%;
    height: 400px;
}
.topo{
    text-align: center;
}

.rodape{
    text-align: center;
    position: relative;
    align-items:center;
}
.cadCliente {
/*    text-align: center;*/
    font-family: verdana;
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
    
        

}


.cadCidade {
/*    text-align: center;*/
     font-family: verdana;
    color: whitesmoke;
        font-size: 16px;
        font-weight: bold;

}
.cadUsuario {
/*    text-align: center;*/
     font-family: verdana;
    color: whitesmoke;
        font-size: 16px;
    font-weight: bold;
    

}



.menu {
    background:  #80abc1;
    border: none;
    

}

.linha1 {
    background: #80abc1;
    padding: 6px;
    cursor: pointer;
    font-size: 16px;

}




